#game-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.foco {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    animation: drop 3s infinite;
}

.foco img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none; /* para não impedir o clique */
}

@keyframes drop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
